body {
  background: #f3f3f4;
  font-family: "Avenir", "Proxima Nova", "Museo Sans", Helvetica, Arial, sans-serif;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  color: #231f20;
  margin: 0;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


h1 {
  margin-top: 9px;
  margin-bottom: 4.5px;
  margin-left: 12px;
}

.group {
  margin-left: 24px;
  float: left;
}

#group1 {
  color: #27aae1;
}

#group2 {
  color: #f57c22;
}


.node {
  stroke: #f3f3f4;
  stroke-width: 0.5px;
}

.node:hover {
  stroke: #231f20;
  stroke-width: 1.5px;
}

.node.fixed {
  stroke: #231f20;
  stroke-width: 1.5px;
}

.link {
  stroke: #231f20;
  stroke-opacity: 0.2;
  stroke-width: 0.5px;
  pointer-events: none;
}


.label {
  stroke: #231f20;
  stroke-width: 0.5px;
  font-size: 9px;
  pointer-events: none;
}



.btn {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #f3f3f4;
  font-size: 18px;
  background: #27aae1;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
}

.btn:hover {
  background: #2590bd;
  text-decoration: none;
}
